!!! 5
html(lang="en")
  head
    include includes/head
  body
    div.center
      h1
        a(href='/')
          span.syntax {
          span.quote "
          span.string1 name
          span.quote "
          span.syntax :
          span.quote "
          span.string2 Travis Glines
          span.quote "
          span.syntax }
    div#camera
      div#cube
        div.face.one
          div.center
            include includes/main
        div.face.two
          div.center
            include includes/main
